body {
    font-family: 'Cabin', sans-serif;

  }

footer{

font-family: 'Lobster', cursive;
} 
  
.navbar-brand{
    font-family: 'Lobster', cursive;


}

#ricomidanewslatter{
    font-family: 'Lobster', cursive;

}